In [5]:
import pandas as pd

In [6]:
dpi = pd.read_csv('Disposable_Personal_Income.csv')
dpi.head()

,Unnamed: 0,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT
0,0,dollars,SA51-53,1318,0,United States*,*,1948,0
1,1,dollars,SA51-53,1295,0,United States*,*,1949,0
2,2,dollars,SA51-53,1410,0,United States*,*,1950,0
3,3,dollars,SA51-53,13640,0,United States*,*,1986,0
4,4,dollars,SA51-53,14249,0,United States*,*,1987,0

In [7]:
pce = pd.read_csv('PCE_All_Areas.csv')
pce.head()

FileNotFoundError: File b'PCE_All_Areas.csv' does not exist

In [8]:
dpi_state = dpi.loc[dpi["GeoName"] != "United States*",:]
dpi_state = dpi.loc[dpi["TimePeriod"] == 2016,:]
dpi_state.head()

,Unnamed: 0,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT
68,68,dollars,SA51-53,43148,0,United States*,*,2016,0
71,71,dollars,SA51-53,35174,1000,Alabama,NaN,2016,0
208,208,dollars,SA51-53,50772,2000,Alaska*,*,2016,0
211,211,dollars,SA51-53,36426,4000,Arizona,NaN,2016,0
348,348,dollars,SA51-53,35847,5000,Arkansas,NaN,2016,0

In [4]:
pce_state = pce.loc[pce["GeoName"] != "United States",:]
pce_state = pce_state.loc[pce['Description'] == 'Personal consumption expenditures']
pce_state.head()

NameError: name 'pce' is not defined

In [24]:
combined_df = pd.merge(dpi_state, pce_state, on="GeoName")
combined_df

,Unnamed: 0,CL_UNIT,Code,DataValue,GeoFips,GeoName,NoteRef,TimePeriod,UNIT_MULT,GeoFIPS,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,71,dollars,SA51-53,35174,1000,Alabama,NaN,2016,0,1000,...,123834,126943,125119,129660,134700,137570,140835,144674,148418,152397
1,211,dollars,SA51-53,36426,4000,Arizona,NaN,2016,0,4000,...,191312,193589,187937,193977,202286,208124,214601,223743,231267,239680
2,348,dollars,SA51-53,35847,5000,Arkansas,NaN,2016,0,5000,...,74114,75513,74626,76932,80643,82845,84737,87122,89488,92984
3,351,dollars,SA51-53,48209,6000,California,NaN,2016,0,6000,...,1246312,1270929,1226863,1271844,1333172,1387040,1421045,1491076,1565046,1641724
4,488,dollars,SA51-53,45503,8000,Colorado,NaN,2016,0,8000,...,168647,173596,170584,175799,185599,192566,198955,212078,224234,236296
5,491,dollars,SA51-53,58282,9000,Connecticut,NaN,2016,0,9000,...,143692,146991,143429,147262,152076,155266,158498,164852,168579,173447
6,628,dollars,SA51-53,42470,10000,Delaware,NaN,2016,0,10000,...,31275,32404,31977,33111,34615,35473,36645,38070,39540,40813
7,631,dollars,SA51-53,64273,11000,District of Columbia,NaN,2016,0,11000,...,27151,28356,28036,29338,31111,32397,33432,35188,37038,38720
8,768,dollars,SA51-53,40767,12000,Florida,NaN,2016,0,12000,...,590249,595816,580199,602273,633237,654764,678158,717453,761153,796537
9,771,dollars,SA51-53,37375,13000,Georgia,NaN,2016,0,13000,...,272125,276681,270332,279840,294862,304462,314823,329721,342419,357332
10,911,dollars,SA51-53,35555,16000,Idaho,NaN,2016,0,16000,...,42850,43972,42461,43983,45855,47019,49074,51407,53898,56642
11,1048,dollars,SA51-53,45051,17000,Illinois,NaN,2016,0,17000,...,426269,434148,426622,439765,457519,470159,479416,497767,515714,534750
12,1051,dollars,SA51-53,38614,18000,Indiana,NaN,2016,0,18000,...,187507,192593,188720,195055,203252,209953,214221,221606,228136,236353
13,1188,dollars,SA51-53,41102,19000,Iowa,NaN,2016,0,19000,...,88800,92595,92431,95308,100271,103043,105501,109535,112560,115999
14,1191,dollars,SA51-53,42372,20000,Kansas,NaN,2016,0,20000,...,82446,85416,84034,86066,90186,93120,95250,98871,101748,104615
15,1328,dollars,SA51-53,34708,21000,Kentucky,NaN,2016,0,21000,...,115280,118920,118795,122973,128202,131978,134150,137514,142347,147697
16,1331,dollars,SA51-53,38461,22000,Louisiana,NaN,2016,0,22000,...,122775,127186,126283,131051,137260,141575,146164,151372,156028,160025
17,1468,dollars,SA51-53,39482,23000,Maine,NaN,2016,0,23000,...,46526,47916,47512,48924,50525,51537,52504,54231,55512,57281
18,1471,dollars,SA51-53,50131,24000,Maryland,NaN,2016,0,24000,...,207568,212922,211611,219329,227790,235272,240904,249971,259192,269223
19,1608,dollars,SA51-53,54095,25000,Massachusetts,NaN,2016,0,25000,...,266872,274989,271477,282173,292885,302517,310617,324352,339150,354085
20,1611,dollars,SA51-53,39170,26000,Michigan,NaN,2016,0,26000,...,306086,313802,308200,316577,331011,339455,347817,361950,375418,390497
21,1748,dollars,SA51-53,44704,27000,Minnesota,NaN,2016,0,27000,...,183457,188609,185745,191522,200958,207970,214193,222726,231852,242489
22,1751,dollars,SA51-53,32567,28000,Mississippi,NaN,2016,0,28000,...,72542,74923,74024,76844,80206,82260,84086,85967,87907,90261
23,1888,dollars,SA51-53,38093,29000,Missouri,NaN,2016,0,29000,...,178392,185602,185162,190136,198531,205348,209664,214903,222193,228648
24,1891,dollars,SA51-53,38323,30000,Montana,NaN,2016,0,30000,...,31038,32609,31776,33038,34645,36139,37595,39384,41259,42956
25,2028,dollars,SA51-53,44811,31000,Nebraska,NaN,2016,0,31000,...,55523,57603,56921,59245,62335,64539,66445,69145,71447,74320
26,2031,dollars,SA51-53,39013,32000,Nevada,NaN,2016,0,32000,...,83224,84770,81308,83481,87132,89915,92817,97135,101511,106364
27,2168,dollars,SA51-53,50069,33000,New Hampshire,NaN,2016,0,33000,...,51838,53310,52587,53797,55990,57234,58850,61146,62943,65151
28,2171,dollars,SA51-53,52799,34000,New Jersey,NaN,2016,0,34000,...,351456,359368,353301,363716,376173,386492,395886,410281,423738,438030
29,2308,dollars,SA51-53,34954,35000,New Mexico,NaN,2016,0,35000,...,57436,60270,59508,61619,64472,66497,67889,70486,72222,74290
30,2311,dollars,SA51-53,49251,36000,New York,NaN,2016,0,36000,...,695777,716903,709145,738393,773170,797063,820647,862381,890668,926168
31,2448,dollars,SA51-53,37379,37000,North Carolina,NaN,2016,0,37000,...,253009,259811,256861,268474,279591,290917,301342,316051,328556,342753
32,2451,dollars,SA51-53,49565,38000,North Dakota,NaN,2016,0,38000,...,21276,22621,22852,24779,27505,30768,33003,35631,36469,36552
33,2588,dollars,SA51-53,39637,39000,Ohio,NaN,2016,0,39000,...,349327,355214,349577,360663,376491,388699,397768,411021,423388,434951
34,2591,dollars,SA51-53,38620,40000,Oklahoma,NaN,2016,0,40000,...,97054,101874,99945,104324,110760,115437,118850,124226,127043,129390
35,2728,dollars,SA51-53,39506,41000,Oregon,NaN,2016,0,41000,...,121146,123348,120385,124289,130356,134286,139084,147209,155435,162684
36,2731,dollars,SA51-53,44686,42000,Pennsylvania,NaN,2016,0,42000,...,412343,426591,423575,438184,457074,468463,477942,492153,506895,522697
37,2868,dollars,SA51-53,44614,44000,Rhode Island,NaN,2016,0,44000,...,36808,37674,36978,37911,38847,39518,40374,42006,43417,44850
38,2871,dollars,SA51-53,35526,45000,South Carolina,NaN,2016,0,45000,...,123977,128476,126575,133139,138294,142085,145830,152175,157909,165036
39,3008,dollars,SA51-53,43613,46000,South Dakota,NaN,2016,0,46000,...,24719,25937,25764,27057,28549,29685,30720,31939,32951,34164
40,3011,dollars,SA51-53,39638,47000,Tennessee,NaN,2016,0,47000,...,173695,177001,174504,183003,192652,198146,202730,210497,219025,227596
41,3148,dollars,SA51-53,41543,48000,Texas,NaN,2016,0,48000,...,699533,727824,722534,755482,809228,850010,884927,938221,979221,1018027
42,3151,dollars,SA51-53,36417,49000,Utah,NaN,2016,0,49000,...,76121,78614,76717,78975,82747,86662,90714,95318,100872,107142
43,3288,dollars,SA51-53,44898,50000,Vermont,NaN,2016,0,50000,...,23024,23908,23712,24564,25558,26279,27214,28189,28943,29761
44,3291,dollars,SA51-53,46177,51000,Virginia,NaN,2016,0,51000,...,266912,275909,274398,285437,299045,309220,316384,326686,337980,350198
45,3428,dollars,SA51-53,48678,53000,Washington,NaN,2016,0,53000,...,226318,234122,231508,239027,250811,260831,269907,283804,298135,312817
46,3431,dollars,SA51-53,33132,54000,West Virginia,NaN,2016,0,54000,...,48273,50393,51126,53285,55773,57340,58533,59871,61509,63022
47,3568,dollars,SA51-53,41302,55000,Wisconsin,NaN,2016,0,55000,...,178365,183930,181736,186413,194251,198080,203201,210521,216932,224143
48,3571,dollars,SA51-53,49595,56000,Wyoming,NaN,2016,0,56000,...,18481,19619,18831,19546,20776,21441,21979,22909,23281,23611
49,3708,dollars,SA51-53,52364,91000,New England,NaN,2016,0,91000,...,568761,584787,575694,594629,615880,632352,648058,674776,698543,724575
50,3711,dollars,SA51-53,48898,92000,Mideast,NaN,2016,0,92000,...,1725569,1776544,1757646,1822070,1899932,1955161,2005456,2088043,2157072,2235651
51,3848,dollars,SA51-53,41083,93000,Great Lakes,NaN,2016,0,93000,...,1447554,1479687,1454856,1498472,1562524,1606345,1642423,1702864,1759587,1820694
52,3851,dollars,SA51-53,42089,94000,Plains,NaN,2016,0,94000,...,634613,658382,652910,674113,708336,734473,754775,782749,809220,836787
53,3988,dollars,SA51-53,38652,95000,Southeast,NaN,2016,0,95000,...,2236784,2287573,2252841,2342913,2454466,2533162,2607771,2719103,2832739,2945837
54,3991,dollars,SA51-53,40060,96000,Southwest,NaN,2016,0,96000,...,1045334,1083558,1069924,1115402,1186746,1240068,1286266,1356677,1409753,1461387
55,4128,dollars,SA51-53,41341,97000,Rocky Mountain,NaN,2016,0,97000,...,337138,348410,340371,351341,369622,383826,398318,421095,443545,466647

In [31]:
combined_df.to_csv('data.csv')

In [1]:
combined_df.to_csv('linechartdata.csv')

NameError: name 'combined_df' is not defined